p{
	color:maroon;
	font-size:30;
}
h1{
	font-size:30;
	color:red;
}

h3{
    font-size: 20;

}
h4{
    font-size: 30;
    color: red;
}
h5{
    font-size: 20;
}

ol{
	color:maroon;
	font-size:40;
}
body{
	background-repeat:no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
